In [52]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import *
from pyspark.sql.types import *

In [53]:
spark = (
SparkSession
    .builder
    .appName('spark intro')
    .master('local[*]')
    .getOrCreate()
)

In [27]:
spark

In [54]:
emp_data = [
    ["001","101","John Doe","30","Male","50000","2015-01-01"],
    ["002","101","Jane Smith","25","Female","45000","2016-02-15"],
    ["003","102","Bob Brown","35","Male","55000","2014-05-01"],
    ["004","102","Alice Lee","28","Female","48000","2017-09-30"],
    ["005","103","Jack Chan","40","Male","60000","2013-04-01"],
    ["006","103","Jill Wong","32","Female","52000","2018-07-01"],
    ["007","101","James Johnson","42","Male","70000","2012-03-15"],
    ["008","102","Kate Kim","29","Female","51000","2019-10-01"],
    ["009","103","Tom Tan","33","Male","58000","2016-06-01"],
    ["010","104","Lisa Lee","27","Female","47000","2018-08-01"],
    ["011","104","David Park","38","Male","65000","2015-11-01"],
    ["012","105","Susan Chen","31","Female","54000","2017-02-15"],
    ["013","106","Brian Kim","45","Male","75000","2011-07-01"],
    ["014","107","Emily Lee","26","Female","46000","2019-01-01"],
    ["015","106","Michael Lee","37","Male","63000","2014-09-30"],
    ["016","107","Kelly Zhang","30","Female","49000","2018-04-01"],
    ["017","105","George Wang","34","Male","57000","2016-03-15"],
    ["018","104","Nancy Liu","29","Female","50000","2017-06-01"],
    ["019","103","Steven Chen","36","Male","62000","2015-08-01"],
    ["020","102","Grace Kim","32","Female","53000","2018-11-01"]
]

emp_schema =  "employee_id string, department_id string, name string, age string, gender string, salary string, hire_date string"

In [55]:
emp = spark.createDataFrame(data=emp_data,schema=emp_schema)

In [56]:
emp.show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        018|          104|    Nancy Liu| 29|Female| 50000|2017-06-01|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

In [57]:
emp.rdd.getNumPartitions()

12

In [58]:
emp_final = emp.where(col("salary")>50000)

In [59]:
emp_final.rdd.getNumPartitions()

12

In [60]:
emp_final.show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

In [64]:
emp.schema

StructType([StructField('employee_id', StringType(), True), StructField('department_id', StringType(), True), StructField('name', StringType(), True), StructField('age', StringType(), True), StructField('gender', StringType(), True), StructField('salary', StringType(), True), StructField('hire_date', StringType(), True)])

In [65]:
emp.printSchema()

root
 |-- employee_id: string (nullable = true)
 |-- department_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: string (nullable = true)

In [67]:
schema_spark = StructType([
    StructField('name',StringType(),True),
    StructField('age',IntegerType(),True)
    
])

In [79]:
emp_filtered =  emp.select(col('employee_id'),expr('name'),emp.age,emp.gender,emp.salary)

In [80]:
emp_filtered.show()

+-----------+-------------+---+------+------+
|employee_id|         name|age|gender|salary|
+-----------+-------------+---+------+------+
|        001|     John Doe| 30|  Male| 50000|
|        002|   Jane Smith| 25|Female| 45000|
|        003|    Bob Brown| 35|  Male| 55000|
|        004|    Alice Lee| 28|Female| 48000|
|        005|    Jack Chan| 40|  Male| 60000|
|        006|    Jill Wong| 32|Female| 52000|
|        007|James Johnson| 42|  Male| 70000|
|        008|     Kate Kim| 29|Female| 51000|
|        009|      Tom Tan| 33|  Male| 58000|
|        010|     Lisa Lee| 27|Female| 47000|
|        011|   David Park| 38|  Male| 65000|
|        012|   Susan Chen| 31|Female| 54000|
|        013|    Brian Kim| 45|  Male| 75000|
|        014|    Emily Lee| 26|Female| 46000|
|        015|  Michael Lee| 37|  Male| 63000|
|        016|  Kelly Zhang| 30|Female| 49000|
|        017|  George Wang| 34|  Male| 57000|
|        018|    Nancy Liu| 29|Female| 50000|
|        019|  Steven Chen| 36|  Male| 62000|
|        020|    Grace Kim| 32|Female| 53000|
+-----------+-------------+---+------+------+

In [81]:
emp_casted = emp_filtered.select(expr("employee_id as emp_id"),emp_filtered.name as 'na')

SyntaxError: invalid syntax (671893862.py, line 1)

In [82]:
emp_casted = emp_filtered.select(expr("employee_id as emp_id"),emp_filtered.name.alias('na'),expr('cast(age as int) as age'),emp_filtered.age.cast('int').alias('intage'))

In [83]:
emp_casted.show()

+------+-------------+---+------+
|emp_id|           na|age|intage|
+------+-------------+---+------+
|   001|     John Doe| 30|    30|
|   002|   Jane Smith| 25|    25|
|   003|    Bob Brown| 35|    35|
|   004|    Alice Lee| 28|    28|
|   005|    Jack Chan| 40|    40|
|   006|    Jill Wong| 32|    32|
|   007|James Johnson| 42|    42|
|   008|     Kate Kim| 29|    29|
|   009|      Tom Tan| 33|    33|
|   010|     Lisa Lee| 27|    27|
|   011|   David Park| 38|    38|
|   012|   Susan Chen| 31|    31|
|   013|    Brian Kim| 45|    45|
|   014|    Emily Lee| 26|    26|
|   015|  Michael Lee| 37|    37|
|   016|  Kelly Zhang| 30|    30|
|   017|  George Wang| 34|    34|
|   018|    Nancy Liu| 29|    29|
|   019|  Steven Chen| 36|    36|
|   020|    Grace Kim| 32|    32|
+------+-------------+---+------+

In [84]:
emp_casted_1 = emp_filtered.selectExpr('employee_id as  emp_id','name','cast(age as int) as age','salary')

In [90]:
emp_final = emp_casted_1.select("*").where(col('age')>30)