In [8]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import *
from pyspark.sql.types import *

In [9]:
spark = (
SparkSession
    .builder
    .appName('spark intro')
    .master('local[*]')
    .getOrCreate()
)

In [10]:
spark

In [11]:
emp_data = [
    ["001","101","John Doe","30","Male","50000","2015-01-01"],
    ["002","101","Jane Smith","25","Female","45000","2016-02-15"],
    ["003","102","Bob Brown","35","Male","55000","2014-05-01"],
    ["004","102","Alice Lee","28","Female","48000","2017-09-30"],
    ["005","103","Jack Chan","40","Male","60000","2013-04-01"],
    ["006","103","Jill Wong","32","Female","52000","2018-07-01"],
    ["007","101","James Johnson","42","Male","70000","2012-03-15"],
    ["008","102","Kate Kim","29","Female","51000","2019-10-01"],
    ["009","103","Tom Tan","33","Male","58000","2016-06-01"],
    ["010","104","Lisa Lee","27","Female","47000","2018-08-01"],
    ["011","104","David Park","38","Male","65000","2015-11-01"],
    ["012","105","Susan Chen","31","Female","54000","2017-02-15"],
    ["013","106","Brian Kim","45","Male","75000","2011-07-01"],
    ["014","107","Emily Lee","26","Female","46000","2019-01-01"],
    ["015","106","Michael Lee","37","Male","63000","2014-09-30"],
    ["016","107","Kelly Zhang","30","Female","49000","2018-04-01"],
    ["017","105","George Wang","34","Male","57000","2016-03-15"],
    ["018","104","Nancy Liu","29","Female","50000","2017-06-01"],
    ["019","103","Steven Chen","36","Male","62000","2015-08-01"],
    ["020","102","Grace Kim","32","Female","53000","2018-11-01"]
]

emp_schema = "employee_id string, department_id string, name string, age string, gender string, salary string, hire_date string"

In [12]:
# Create emp DataFrame

emp = spark.createDataFrame(data=emp_data, schema=emp_schema)

In [ ]:
# Schema for emp

emp.schema

In [13]:
# Small Example for Schema
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
schema_string = "name string, age int"

schema_spark =  StructType([
    StructField("name", StringType(), True),
    StructField("age", IntegerType(), True)
])

In [14]:
# Columns and expression
from pyspark.sql.functions import col, expr

emp["salary"]

Column<'salary'>

In [15]:
# SELECT columns
# select employee_id, name, age, salary from emp

emp_filtered = emp.select(col("employee_id"), expr("name"), emp.age, emp.salary)

In [16]:
# SHOW Dataframe (ACTION)

emp_filtered.show()

+-----------+-------------+---+------+
|employee_id|         name|age|salary|
+-----------+-------------+---+------+
|        001|     John Doe| 30| 50000|
|        002|   Jane Smith| 25| 45000|
|        003|    Bob Brown| 35| 55000|
|        004|    Alice Lee| 28| 48000|
|        005|    Jack Chan| 40| 60000|
|        006|    Jill Wong| 32| 52000|
|        007|James Johnson| 42| 70000|
|        008|     Kate Kim| 29| 51000|
|        009|      Tom Tan| 33| 58000|
|        010|     Lisa Lee| 27| 47000|
|        011|   David Park| 38| 65000|
|        012|   Susan Chen| 31| 54000|
|        013|    Brian Kim| 45| 75000|
|        014|    Emily Lee| 26| 46000|
|        015|  Michael Lee| 37| 63000|
|        016|  Kelly Zhang| 30| 49000|
|        017|  George Wang| 34| 57000|
|        018|    Nancy Liu| 29| 50000|
|        019|  Steven Chen| 36| 62000|
|        020|    Grace Kim| 32| 53000|
+-----------+-------------+---+------+

In [17]:
# Using expr for select
# select employee_id as emp_id, name, cast(age as int) as age, salary from emp_filtered

emp_casted = emp_filtered.select(expr("employee_id as emp_id"), emp.name, expr("cast(age as int) as age"), emp.salary)

In [18]:
# SHOW Dataframe (ACTION)

emp_casted.show()

+------+-------------+---+------+
|emp_id|         name|age|salary|
+------+-------------+---+------+
|   001|     John Doe| 30| 50000|
|   002|   Jane Smith| 25| 45000|
|   003|    Bob Brown| 35| 55000|
|   004|    Alice Lee| 28| 48000|
|   005|    Jack Chan| 40| 60000|
|   006|    Jill Wong| 32| 52000|
|   007|James Johnson| 42| 70000|
|   008|     Kate Kim| 29| 51000|
|   009|      Tom Tan| 33| 58000|
|   010|     Lisa Lee| 27| 47000|
|   011|   David Park| 38| 65000|
|   012|   Susan Chen| 31| 54000|
|   013|    Brian Kim| 45| 75000|
|   014|    Emily Lee| 26| 46000|
|   015|  Michael Lee| 37| 63000|
|   016|  Kelly Zhang| 30| 49000|
|   017|  George Wang| 34| 57000|
|   018|    Nancy Liu| 29| 50000|
|   019|  Steven Chen| 36| 62000|
|   020|    Grace Kim| 32| 53000|
+------+-------------+---+------+

In [19]:
emp_casted_1 = emp_filtered.selectExpr("employee_id as emp_id", "name", "cast(age as int) as age", "salary")

In [20]:
emp_casted_1.show()

+------+-------------+---+------+
|emp_id|         name|age|salary|
+------+-------------+---+------+
|   001|     John Doe| 30| 50000|
|   002|   Jane Smith| 25| 45000|
|   003|    Bob Brown| 35| 55000|
|   004|    Alice Lee| 28| 48000|
|   005|    Jack Chan| 40| 60000|
|   006|    Jill Wong| 32| 52000|
|   007|James Johnson| 42| 70000|
|   008|     Kate Kim| 29| 51000|
|   009|      Tom Tan| 33| 58000|
|   010|     Lisa Lee| 27| 47000|
|   011|   David Park| 38| 65000|
|   012|   Susan Chen| 31| 54000|
|   013|    Brian Kim| 45| 75000|
|   014|    Emily Lee| 26| 46000|
|   015|  Michael Lee| 37| 63000|
|   016|  Kelly Zhang| 30| 49000|
|   017|  George Wang| 34| 57000|
|   018|    Nancy Liu| 29| 50000|
|   019|  Steven Chen| 36| 62000|
|   020|    Grace Kim| 32| 53000|
+------+-------------+---+------+

In [21]:
emp_casted.printSchema()

root
 |-- emp_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: string (nullable = true)

In [22]:
# Filter emp based on Age > 30
# select emp_id, name, age, salary from emp_casted where age > 30

emp_final = emp_casted.select("emp_id", "name", "age", "salary").where("age > 30")

In [28]:
# Write the data back as CSV (ACTION)

emp_final.repartition(1).write.format("csv").option('header','true').option('overwrite','true').save("yo")

In [29]:
# Bonus TIP

schema_str = "name string, age int"

from pyspark.sql.types import _parse_datatype_string

schema_spark = _parse_datatype_string(schema_str)

schema_spark

StructType([StructField('name', StringType(), True), StructField('age', IntegerType(), True)])

In [30]:
emp_casted = emp.select('employee_id','name','age',col('salary').cast('double'))

In [32]:
emp_casted.printSchema()

root
 |-- employee_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- salary: double (nullable = true)

In [33]:
emp_taxed = emp_casted.withColumn('tax',col('salary')*.2)

In [35]:
emp_new_column  =  emp_taxed.withColumn('columnOne',lit(1)).withColumn('columnTwo',lit('two'))

In [36]:
emp_new_column.show()

+-----------+-------------+---+-------+-------+---------+---------+
|employee_id|         name|age| salary|    tax|columnOne|columnTwo|
+-----------+-------------+---+-------+-------+---------+---------+
|        001|     John Doe| 30|50000.0|10000.0|        1|      two|
|        002|   Jane Smith| 25|45000.0| 9000.0|        1|      two|
|        003|    Bob Brown| 35|55000.0|11000.0|        1|      two|
|        004|    Alice Lee| 28|48000.0| 9600.0|        1|      two|
|        005|    Jack Chan| 40|60000.0|12000.0|        1|      two|
|        006|    Jill Wong| 32|52000.0|10400.0|        1|      two|
|        007|James Johnson| 42|70000.0|14000.0|        1|      two|
|        008|     Kate Kim| 29|51000.0|10200.0|        1|      two|
|        009|      Tom Tan| 33|58000.0|11600.0|        1|      two|
|        010|     Lisa Lee| 27|47000.0| 9400.0|        1|      two|
|        011|   David Park| 38|65000.0|13000.0|        1|      two|
|        012|   Susan Chen| 31|54000.0|10800.0|        1|      two|
|        013|    Brian Kim| 45|75000.0|15000.0|        1|      two|
|        014|    Emily Lee| 26|46000.0| 9200.0|        1|      two|
|        015|  Michael Lee| 37|63000.0|12600.0|        1|      two|
|        016|  Kelly Zhang| 30|49000.0| 9800.0|        1|      two|
|        017|  George Wang| 34|57000.0|11400.0|        1|      two|
|        018|    Nancy Liu| 29|50000.0|10000.0|        1|      two|
|        019|  Steven Chen| 36|62000.0|12400.0|        1|      two|
|        020|    Grace Kim| 32|53000.0|10600.0|        1|      two|
+-----------+-------------+---+-------+-------+---------+---------+

In [37]:
emp_1 = emp_new_column.withColumnRenamed('employee_id','emp_id')

In [38]:
emp_1.show()

+------+-------------+---+-------+-------+---------+---------+
|emp_id|         name|age| salary|    tax|columnOne|columnTwo|
+------+-------------+---+-------+-------+---------+---------+
|   001|     John Doe| 30|50000.0|10000.0|        1|      two|
|   002|   Jane Smith| 25|45000.0| 9000.0|        1|      two|
|   003|    Bob Brown| 35|55000.0|11000.0|        1|      two|
|   004|    Alice Lee| 28|48000.0| 9600.0|        1|      two|
|   005|    Jack Chan| 40|60000.0|12000.0|        1|      two|
|   006|    Jill Wong| 32|52000.0|10400.0|        1|      two|
|   007|James Johnson| 42|70000.0|14000.0|        1|      two|
|   008|     Kate Kim| 29|51000.0|10200.0|        1|      two|
|   009|      Tom Tan| 33|58000.0|11600.0|        1|      two|
|   010|     Lisa Lee| 27|47000.0| 9400.0|        1|      two|
|   011|   David Park| 38|65000.0|13000.0|        1|      two|
|   012|   Susan Chen| 31|54000.0|10800.0|        1|      two|
|   013|    Brian Kim| 45|75000.0|15000.0|        1|      two|
|   014|    Emily Lee| 26|46000.0| 9200.0|        1|      two|
|   015|  Michael Lee| 37|63000.0|12600.0|        1|      two|
|   016|  Kelly Zhang| 30|49000.0| 9800.0|        1|      two|
|   017|  George Wang| 34|57000.0|11400.0|        1|      two|
|   018|    Nancy Liu| 29|50000.0|10000.0|        1|      two|
|   019|  Steven Chen| 36|62000.0|12400.0|        1|      two|
|   020|    Grace Kim| 32|53000.0|10600.0|        1|      two|
+------+-------------+---+-------+-------+---------+---------+

In [39]:
emp_dropped = emp_1.drop('columnOne','columnTwo')

In [40]:
emp_dropped.show()

+------+-------------+---+-------+-------+
|emp_id|         name|age| salary|    tax|
+------+-------------+---+-------+-------+
|   001|     John Doe| 30|50000.0|10000.0|
|   002|   Jane Smith| 25|45000.0| 9000.0|
|   003|    Bob Brown| 35|55000.0|11000.0|
|   004|    Alice Lee| 28|48000.0| 9600.0|
|   005|    Jack Chan| 40|60000.0|12000.0|
|   006|    Jill Wong| 32|52000.0|10400.0|
|   007|James Johnson| 42|70000.0|14000.0|
|   008|     Kate Kim| 29|51000.0|10200.0|
|   009|      Tom Tan| 33|58000.0|11600.0|
|   010|     Lisa Lee| 27|47000.0| 9400.0|
|   011|   David Park| 38|65000.0|13000.0|
|   012|   Susan Chen| 31|54000.0|10800.0|
|   013|    Brian Kim| 45|75000.0|15000.0|
|   014|    Emily Lee| 26|46000.0| 9200.0|
|   015|  Michael Lee| 37|63000.0|12600.0|
|   016|  Kelly Zhang| 30|49000.0| 9800.0|
|   017|  George Wang| 34|57000.0|11400.0|
|   018|    Nancy Liu| 29|50000.0|10000.0|
|   019|  Steven Chen| 36|62000.0|12400.0|
|   020|    Grace Kim| 32|53000.0|10600.0|
+------+-------------+---+-------+-------+

In [41]:
emp_filtered =  emp_dropped.filter(col('tax')>10000)

In [43]:
emp_filtered.show(2,truncate=False)

+------+---------+---+-------+-------+
|emp_id|name     |age|salary |tax    |
+------+---------+---+-------+-------+
|003   |Bob Brown|35 |55000.0|11000.0|
|005   |Jack Chan|40 |60000.0|12000.0|
+------+---------+---+-------+-------+
only showing top 2 rows

In [46]:
columns={
    'tax1' : col('salary')*.02,
    'one_number' : lit(1),
    'column_two' : lit('sanbag')

}

In [47]:
emp_final = emp.withColumns(columns)

In [48]:
emp_final.show()

+-----------+-------------+-------------+---+------+------+----------+------+----------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|  tax1|one_number|column_two|
+-----------+-------------+-------------+---+------+------+----------+------+----------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|1000.0|         1|    sanbag|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15| 900.0|         1|    sanbag|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|1100.0|         1|    sanbag|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30| 960.0|         1|    sanbag|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|1200.0|         1|    sanbag|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|1040.0|         1|    sanbag|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|1400.0|         1|    sanbag|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|1020.0|         1|    sanbag|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|1160.0|         1|    sanbag|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01| 940.0|         1|    sanbag|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|1300.0|         1|    sanbag|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|1080.0|         1|    sanbag|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|1500.0|         1|    sanbag|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01| 920.0|         1|    sanbag|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|1260.0|         1|    sanbag|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01| 980.0|         1|    sanbag|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|1140.0|         1|    sanbag|
|        018|          104|    Nancy Liu| 29|Female| 50000|2017-06-01|1000.0|         1|    sanbag|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|1240.0|         1|    sanbag|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|1060.0|         1|    sanbag|
+-----------+-------------+-------------+---+------+------+----------+------+----------+----------+